# django_api/secrets/.env.example
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=www.believeriver.site,133.88.123.173

DB_NAME=django_db
DB_USER=django_user
DB_PASSWORD=your-db-password
DB_HOST=db
DB_PORT=5432

DEFAULT_FROM_EMAIL=noreply@believeriver.site
ADMIN_EMAIL=your@email.com